header {
    padding: 5px 20px;
}

.flexRow {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo {
    width: 200px;
    max-width: 100%;
}

nav {
    font-weight: bold;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    white-space: nowrap;
}

.navLink {
    text-decoration: none; 
    margin-right: 0.5rem;
    color: var(--primary-color);
}

.navLink:hover{
    text-decoration: underline;
}

.icon {
    width: 16px;
    height: 16px;
    fill: var(--primary-color);
    margin-bottom: -2px;
}

.name {
    margin-right: 8px;
}

.name:hover{
    text-decoration: underline;
}

.signOut:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid #ccc;
    padding: 2rem 0 1.5rem;
}
